doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='mystyle.css', rel='stylesheet')
    script(type='text/javascript').
     
  body
    h1 Report
    #container.table
      p.inp.
          Name= !{name.split('=')[1]}	  
      p.inp.
          Age= !{age.split('=')[1]}
      p.inp.
         
          BloodGroup= !{bloodgroup.split('=')[1]}
      p.inp.  
          
          Sex= !{sex.split('=')[1]}
      p.inp.  
        
          OtherInfo= !{otherinfo.split('=')[1]}
      p.inp.
        	  
          Symptom= !{symptom.split('=')[1]}
      p.inp.
        	  
          BodyPart= !{bodypart.split('=')[1]}
		